$primary: cornflowerblue;
$secondary: white;

#clients {
    li {
        padding: 1rem;
        list-style: none;
        background-color: $primary;
        color: $secondary;
        &:nth-child(odd) {
            background-color: $secondary;
            color: $primary;
        }
    }
}